<!DOCTYPE html>
<html lang="zxx">
<!-- Head -->

<head>
    <title>Key Login Form Flat Responsive Widget Template :: W3layouts</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Key Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    {% load static %}
    <script src="{% static 'js/Chart.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->
    <!--fonts -->
    <!-- //fonts -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all">
    <!-- //Font-Awesome-File-Links -->
	
	<!-- Google fonts -->
	<link href="//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet">
	<!-- Google fonts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head> 


<!-- //Head -->
<!-- Body -->

<body>

<section class="main" >
	<div class="layer">
		<!--background: url(../images/bg2.jpg) no-repeat center;-->
		<div class="bottom-grid">
			<div class="logo">
				<h1> <a href="{% url 'Home' %}"><span class="fa fa-tint"></span> 首頁</a></h1>
			</div>
			<div class="links">
				<ul class="links-unordered-list">
					<!--<li class="active">-->
                    {% if request.session.is_login %}
                    <li class="">
						<!--<<a href="{% url 'Memberspace' %}">{{request.session.username }}</a>-->
                        
                        <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.session.username }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'Memberspace' %}">修改會員密碼</a>
                        </div>
                    
					</li>
                    <li class="">
						<a href="{% url 'Logout' %}">Logout</a>
                        
					</li>
                    {% else %}
                    <li class="">
						<a href="{% url 'Login' %}">Login</a>
					</li>
					<li class="">
						<a href="{% url 'Signup' %}">Signup</a>
					</li>					
                    {% endif %}
				</ul>
			</div>
		</div>
	</div>	
                {% block test %}
                {% endblock %}
			
		
</section>


</body>
<!-- //Body -->
</html>