<!DOCTYPE html>
<html lang="zxx">
<!-- Head -->

<head>
    
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Key Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    {% load static %}
    <script src="{% static 'js/Chart.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->
    <!--fonts -->
    <!-- //fonts -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all">
    <!-- //Font-Awesome-File-Links -->
	
	<!-- Google fonts -->
	<link href="//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet">
	<!-- Google fonts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head> 


<!-- //Head -->
<!-- Body -->

<body>

<section class="main bg-blur" >
	<div class="layer">
		<!--background: url(../images/bg2.jpg) no-repeat center;-->
		<div class="bottom-grid" style="border-bottom-style:solid;border-width:1px;border-color:#959698;">
			<div class="logo">
				<h1> <a href="{% url 'Home' %}" style="color:#3a91ec;font-weight:bold;font-size:34px;"><span class="fa fa-tint" ></span> ra<span style="color:red">info</span></a></h1>
			</div>
			<div class="links">
				<ul class="links-unordered-list">
					<!--<li class="active">-->
                    {% if request.session.is_login %}
                    <li class="">
						<a href="{% static 'file/download.xlsx' %}" download style="font-size:20px;color:black; font-weight:bold;">資料集下載</a>
					</li>
                    <li class="">
						<!--<<a href="{% url 'Memberspace' %}">{{request.session.username }}</a>-->
                        
                        <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:24px;color:black; font-weight:bold;">
                        {{request.session.username }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                        <a class="dropdown-item" href="{% url 'Memberspace' %}" style="color:black;">修改會員密碼</a>
                        <a class="dropdown-item" href="{% url 'Memberpost' %}" style="color:black;">歷史貼文</a>
                        <a class="dropdown-item" href="{% url 'Memberreport' %}" style="color:black;">問題回報</a>
                        </div>
                    
					</li>
                    <li class="">
					</li>
                    <li class="">
						<a href="{% url 'Logout' %}" style="font-size:24px;color:black; font-weight:bold;">登出</a>
                        
					</li>
                    {% else %}
                    <li class="1">
						<a href="{% url 'Login' %}" style="font-size:24px;color:black; font-weight:bold;">登入</a>
					</li>
                    <li class="">
					</li>
					<li class="">
						<a href="{% url 'Signup' %}" style="font-size:24px;color:black; font-weight:bold;">註冊</a>
					</li>					
                    {% endif %}
				</ul>
			</div>
		</div>
	</div>	

                {% block test %}
                {% endblock %}
			
		
</section>

    
</body>
  <!--<footer>
    <p align="center" style="background-color:#d1d2d4;margin-bottom:0;">聯絡我們: paileo007007@g.ncu.edu.tw</p>
     A footer for the page.
  </footer> -->
<!-- //Body -->
</html>