{% extends "base.html" %}
{% block test %}
<title>雨量查詢</title>
{% load static %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style>
.reply_content {
    border: 0px dotted #b3b3b3;
    background: #ebf2f7;
    margin: 10px 0;
    border-radius: 0px 0px 0px 0px;
    padding: 0 20px 0;
    *padding: 20px 20px 0;
    display: none;
}
.reply_content .comment_con_li {
    border-bottom: 1px dotted #b13535;
    margin: 20px 0 0;
    position: relative;
}

.autoHeight {
    height: auto !important;
    min-height: 0;
    height: 0;
}

.autoHeight:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
}

.content_r .info_bar {
    height: 18px;
}

.text {
    font-size: 14px;
    color: #333;
    margin-top: 8px;
    line-height: 22px;
    word-break: break-all;
    overflow: hidden;
}

.btm_bar {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin-top: 5px;
    color: #999;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-top: 5px;
}

/*水球*/
.watermain,.wave{
    width:250px;
    height:250px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.watermain{
    {% if ifpost%}
    padding-left: 520px;
    padding-top: 280px;
    {% else %}
    padding-left: 420px;
    padding-top: 250px;
    {% endif %}
    
    float:left;
}
.wave{
    background:#b3e7ff;
    overflow: hidden;
    font-size: 36px;
}
/*width&height越大方越下面*/
.wave:after{
content:"";
width:350px;
height:350px;
background:rgba(255, 255, 255, 0.8);
position:absolute;
left:50%;
top:0;
transform:translate(-50%,-60%);
border-radius: 40%;
animation: wave 5s linear infinite;
}
.wave::before{
    {% if ifpost%}
    content: "{{waterrainfall}}";
    {% else %}
    content: "{{sumrainfall}}";
    {% endif %}
    
    position: absolute;
    left: 50%;
    top:0;
    color: darkturquoise;
    z-index: 99;
    transform: translate(-50%,30px);
    /*text-transform: uppercase;*/
}
@keyframes wave{
    100%{
        transform:translate(-50%,-60%) rotate(360deg);
    }

}
.test{
    position:absolute;
    border:1px solid;
    background-color:red;
    width:920px;
    height:805px;
    filter:Alpha(Opacity=80);
}

.test2{
    position:absolute;
    border:1px solid;
    background-color:red;
    width:1030px;
    height:460px;
    filter:Alpha(Opacity=80);
}
</style>
</style>
<form action="" method="" enctype="multipart/form-data" name="commit">{% csrf_token %}
<div class="main-content">
    
    <div class="content-left">
     
            
            <div class="player_block" style="background-color:black; background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));border-radius: 35px;height:460px;padding-left:15px;padding-right:15px;">
              <!--<form action="/search/" method="post">{% csrf_token %}-->
              </br>
             
                    <div class="row">
                  <div class="col-md-12">
                   
                  <div align="center" style="color:white;font-size:34px;font-weight:bold;border-bottom-style: solid; border-width: 2px;border-color: white;">雨量查詢</div>
                  </br>
                  
                    <div style="color:white;font-size:24px;font-weight:bold;">選擇首都</div>
                    <label class="select" for="spacing">
                         <select class="btn btn-secondary dropdown-toggle" name="country" id="country-list" style="background-color:white;color:black;font-size:18px;" >
                         </select>
                         <i aria-hidden="true"></i> 
                    </label>
                  </div>
                  <div class="col-md-12">
                      <div class="xx">
                      <div style="color:white;font-size:24px;font-weight:bold;">起始年月</div>
                        <label class="select">
                            <select class="btn btn-secondary dropdown-toggle" name="year" id="year-list" style="background-color:white;color:black;font-size:18px;" onChange="changeCollege2(this.selectedIndex)">

                            </select>
                            <i aria-hidden="true"></i>
                        </label>
                        <label class="select">
                            <select class="btn btn-secondary dropdown-toggle" name="month"  id="month-list" style="background-color:white;color:black;font-size:18px;" onChange="changeCollegemon(this.selectedIndex)">
                            </select>
                            <i aria-hidden="true"></i>
                        </label>
                      </div>
                      
                    </div>
                  </div>

                
                   <div class="row">
                    
                  <div class="col-md-12">
                      <div class="xx">
                      <div style="color:white;font-size:24px;font-weight:bold;">結束年月</div>
                        <label class="select">
                            <select class="btn btn-secondary dropdown-toggle" style="background-color:white;color:black;font-size:18px;" name="toyear" id="toyear-list">

                            </select>
                            <i aria-hidden="true"></i>
                        </label>
                        <label class="select">
                            <select class="btn btn-secondary dropdown-toggle" style="background-color:white;color:black;font-size:18px;" name="tomonth"  id="tomonth-list">
                            </select>
                            <i aria-hidden="true"></i>
                        </label>
                      </div>
                     
                    </div>
                  </div>
                </br>
                <button class="btn btn-primary" onclick="search()" style="background-color:#3a91ec;font-size:20px;">送出</button>

        </div>
       
       


</div>
{% if issearch or ifpost%}

{% if ifpost%}

<div class="content-right">
<div class="test" style="background-color:black; background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));border-radius: 25px;"></div>
<h1 style="color:black;font-weight:bold;padding-top:15px;">  &emsp;{{ country }}{{ year }}年{{ month }}月雨量(毫米):</h1>
    
    <div class="watermain">
        <div class="wave">
        
        </div>
    </div>
</div>
<div class="content-right">
<div style="padding-left:0px;">

<h1 style="color:black;font-weight:bold;padding-top:15px;">各首都雨量:</h1>
</div>

<div class="bg"  style="padding-left:0px;">

<div style="width:300px;height:300px;border:3px #cccccc dashed;background-color:white;position:absolute;z-index:999;border-radius: 25px;">
<canvas id="myChart" width="100" height="100" ></canvas>

{% else %}
<div class="content-right">
<div class="test2" style="background-color:black; background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));border-radius: 25px;"></div>
    <h1 style="color:black;font-weight:bold;;padding-top:15px;">&emsp;{{ country }}總雨量(毫米):<br>&emsp;{{year}}年{{ month }}月~{{toyear}}年{{ tomonth }}月</h1>
    <div>
    </div>
    <div class="watermain">
        <div class="wave">
        </div>
    </div>
</div>
<div class="content-right">

    <div style="padding-left:0px;">
        <h1 style="color:black;font-weight:bold;;padding-top:15px;">區間雨量:</h1>
    </div>

    <div class="bg"  style="padding-left:0px; ">

        <div style="width:500px;height:315px;border:3px #cccccc dashed;background-color:white;position:absolute;z-index:999;border-radius: 25px;">
            <canvas id="myChart" width="80" height="50"></canvas>
        </div>
    </div>
</div>

<!-- 放圖片 -->
<div style="">
<div style="padding-left:1340px;">
        {% if country == "台北" %}
        <img src="{% static 'images/country4.jpg' %}" width="250px" height="800px">
        {% elif country == "新加坡" %}
        <img src="{% static 'images/country5.jpg' %}" width="250px" height="800px">
        {% elif country == "利雅德" %}
        <img src="{% static 'images/country1.jpg' %}" width="250px" height="800px">
        {% elif country == "雅加達" %}
        <img src="{% static 'images/country2.jpg' %}" width="250px" height="800px">
        {% elif country == "吉隆坡" %}
        <img src="{% static 'images/country3.jpg' %}" width="250px" height="800px">
        {% endif %}
    </div>
</div>
</div>

{% endif%}

<script>

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart.Line(ctx, {//Doughnut (環狀圖)Pie (圓餅圖)Line (折線圖)Bar (柱狀圖)Radar (雷達圖)PolarArea (極地圖)
    //type: 'bar',
    {% if ifpost%}
    data: {
        //labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        
        labels: [ {% for rainfall in rainfall %}'{{rainfall.country}}',{% endfor %}],
        
        datasets: [{
            label: '雨量',
            //data: [12, 19, 3, 5, 2, 3],
            data: [{% for rainfall in rainfall %}{{rainfall.rainfall}},{% endfor %}],
            backgroundColor: [
                'rgba(39, 167, 236, 0.2)',

            ],
            borderColor: [
                'rgba(39, 167, 236, 0.8)',

            ],
            borderWidth: 1,
            
        },
]
    },
    options: {
        scales: {
           
            yAxes: [{
              scaleLabel: {
              display: true,
              labelString: '雨量',
              fontColor:'black'
            },
                ticks: {
                    beginAtZero: true
                }
            }],
            xAxes: [{
              scaleLabel: {
              display: true,
              {% if ifpost%}
              labelString: '國家',
              {% else %}
              labelString: '月份',
              {% endif %}
              fontColor:'black'
            },
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
{% else %}
        
            data: {
        //labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        
        labels: [ {% for rainfall in rainfall %}{{rainfall.month}},{% endfor %}],
        
        datasets: [
        
        {
            label: '歷史',
            //data: [12, 19, 3, 5, 2, 3],
            data: [{% for rainfall in rainfall %}{% if rainfall.year <= 2020 %}{{rainfall.rainfall}},{% endif %}{% endfor %}],
            backgroundColor: [
                'rgba(39, 167, 236, 0.2)',

            ],
            borderColor: [
                'rgba(39, 167, 236, 0.8)',

            ],
            borderWidth: 1,
            pointRadius:0,
        }
        ,
        {
            
            label: '未來',
            //data: [12, 19, 3, 5, 2, 3],
            data: [{% for rainfall in rainfall %}{% if rainfall.year >= 2021 %}{{rainfall.rainfall}},{% else %},{% endif %}{% endfor %}],
            backgroundColor: [
                'rgba(150, 253, 158, 0.4)',

            ],
            borderColor: [
                'rgba(150, 253, 158, 0.8)',

            ],
            borderWidth: 1,
            pointRadius:0,
        }
]
    },
    options: {
        scales: {
           
            yAxes: [{
              scaleLabel: {
              display: true,
              labelString: '雨量',
              fontColor:'black'
            },
                ticks: {
                    beginAtZero: true
                }
            }],
            xAxes: [{
              scaleLabel: {
              display: true,
              {% if ifpost%}
              labelString: '國家',
              {% else %}
              labelString: '月份',
              {% endif %}
              fontColor:'black'
            },
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
        {% endif %}
});
</script>
</div>
</div>
</div>

{% else %}
<div class="" style="" >
<div class="" style="padding-left:350px;" >
    <h1 style="color:black;font-weight: bold;">請搜尋欲查詢雨量國家年月</h1>
</div>
<div style="padding-left:350px;">

<img src="{% static 'images/country4.jpg' %}" width="230px" height="600px" style="padding-right: 20px;">
<img src="{% static 'images/country1.jpg' %}" width="230px" height="600px" style="padding-right: 20px;">
<img src="{% static 'images/country3.jpg' %}" width="230px" height="600px" style="padding-right: 20px;">
<img src="{% static 'images/country2.jpg' %}" width="230px" height="600px" style="padding-right: 20px;">
<img src="{% static 'images/country5.jpg' %}" width="230px" height="600px" style="padding-right: 20px;">
</div>
</div>
</div>
{% endif%}
    <!--<div style="color:white">
    {% for rainfall in rainfall %}
    {{rainfall.month}}月:{{rainfall.country}}:{{rainfall.rainfall}}</br>
    {% endfor %}
    </div>-->
        

{% if ifpost%}

<!--<div style="padding-left:150px;padding-right:150px;">-->
<div style="float:right;padding-right:100px;">
    <div><h1 style="color:black;font-weight:bold;">討論區</h1></div>
    <div style="height:500px;width:300px;overflow:auto;overflow-x:hidden;color:black;background:#ebf2f7; border: 1px dotted #b3b3b3;">
        <div class="reply_content" id="new_reply_547569" style="display: block;">
            {% for post in post %}
            <div class="comment_con_li autoHeight" id="544584_0">
                <div class="info_bar">
                    <span class="userName"></span>
                    <span class="icon_nan"></span>
                    <span class="floor">{{post.table1.name}}:</span>
                </div>
                <p class="text">
                    <span class="textCon">{{post.post}}</span>
                </p>
                <div class="btm_bar">
                    <span class="time">{{post.time}}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    <div style="padding-rigt:0px;">
        <div style="color:black;"></br></div>
        <textarea style="border-radius: 20px 20px 20px 20px;" id="commitpost" placeholder="輸入1~45字" name="comment"rows="3"cols="40"required></textarea></br>
        <button class="btn btn-primary" onclick="post()">送出</button>
    </div>
</div>

</div>
<div style="padding-left:560px;">
    <div id="regions_div"  style="width: 650px; height: 400px;"></div>
</div>

{% endif %}
{% if issearch %}
</div>
<!--
<div style="padding-left:450px;">
    
    <div style="width: 800px; height: 400px; background:white;overflow:auto;" class="border">
    <table border="1" style="width=100% ;font-size:24px;" class="border border-dark">
        
        <tr>
            <th>{{country}}</th>
            {% for rainfall in rainfall %}
                <th>{{rainfall.month}}</th>
            {% endfor %}
        </tr>
        <tr>
        {% for rainfall in rainfall %}

            <th>{{rainfall.rainfall}}</th>
            
         {% endfor %}
        </tr
    </table>
    
    
   </div> 
</div>-->
{% endif %}
</form>

		<script type="text/javascript">
            var colleges=[{% if country%}'{{country}}',{%endif%}'台北','新加坡','雅加達','吉隆坡','利雅德'];
			var collegeSelect=document.getElementById("country-list");
            
            var handyear=new Array();

			var inner="";
			for(var i=0;i<colleges.length;i++){
				inner=inner+'<option value='+colleges[i]+'>'+colleges[i]+'</option>';
                handyear[i]=new Array();

			}
			collegeSelect.innerHTML=inner;
			
			
			var year=new Array();
			var toyear=new Array();
            var month=new Array();
            var tomonth=new Array();

            year[0]=[{% if year%}'{{year}}',{%endif%}{% for allyear in allyear %} {{ allyear }}, {% endfor %}];
            
            toyear[0]=[{% if toyear%}'{{toyear}}',{%endif%}{% for allyear in allyear %} '{{ allyear }}', {% endfor %}];
            
            month[0]=[{% if month%}'{{month}}',{%endif%}1,2,3,4,5,6,7,8,9,10,11,12];
            tomonth[0]=[{% if tomonth%}'{{tomonth}}',{%endif%}1,2,3,4,5,6,7,8,9,10,11,12];
            month[1]=[1,2,3,4,5,6,7,8,9,10];

            var Sinner="";
            var mon="";
            for(var i=0;i<year[0].length;i++){
					Sinner=Sinner+'<option value='+year[0][i]+'>'+year[0][i]+'</option>';
				}
            var sectorSelect=document.getElementById("year-list");
				sectorSelect.innerHTML=Sinner;

            for(var i=0;i<month[0].length;i++){
					mon=mon+'<option value='+month[0][i]+'>'+month[0][i]+'</option>';
				}
                var monSelect=document.getElementById("month-list");
				monSelect.innerHTML=mon;

            function changeCollege2(index){
                var toSinner="";
                var tomon="";
                var getmonth=document.getElementById("month-list");
                var getmonthvalue=getmonth.options[getmonth.selectedIndex].value;

                var getyear=document.getElementById("year-list");
                var getyearvalue=getyear.options[getyear.selectedIndex].value;
                
                /*for(var i=0;i<(year[index].length);i++){
                    year[1][i]=year[0][i];
                }*/
                
                for(var i=0;i<(year[0].length)-index;i++){  
				toSinner=toSinner+'<option value='+toyear[0][i+index]+'>'+toyear[0][i+index]+'</option>';

                }

                var tosectorSelect=document.getElementById("toyear-list");
				tosectorSelect.innerHTML=toSinner;
                
				var tomonSelect=document.getElementById("tomonth-list");
				tomonSelect.innerHTML=mon;
                
			}

			changeCollege2(document.getElementById("year-list").selectedIndex);

            function changeCollegemon(index){
                var tomon="";
                var getyear=document.getElementById("year-list");
                var getyearvalue=getyear.options[getyear.selectedIndex].value;
                var gettoyear=document.getElementById("toyear-list");
                var gettoyearvalue=gettoyear.options[gettoyear.selectedIndex].value;
                if(gettoyearvalue == getyearvalue){
                for(var i=0;i<(month[0].length)-index;i++){  
				    tomon=tomon+'<option value='+month[0][i+index]+'>'+month[0][i+index]+'</option>';

                }
                var tomonSelect=document.getElementById("tomonth-list");
				tomonSelect.innerHTML=tomon;
                }

            }
            function search(){ 
            //document.("表单的name值").action
            //document.("表单的name值").submit
            document.commit.method="get";
            document.commit.action="/search/"; 
            document.commit.submit(); 
            } 
 
            function post() { 
            var xxx = document.getElementById("commitpost").value;
            var strings = ' '; 
            if(xxx.length>45){
                alert("輸入請小於45字");return false;
            }else if(xxx == ""){
                alert("請輸入留言");return false;
            }
            else if(xxx == " "){
                 alert("請勿輸入空白字串！");return false;
            }
            {
            document.commit.method="post";
            document.commit.action = "/post/"; 
            document.commit.submit(); 
            }
            
            }

		</script>
<script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 0],
          {% for rainfall in rainfall %}
            {% if  rainfall.country == "台北" %}
                ['Taiwan', {{rainfall.rainfall}}],
            {% elif rainfall.country == "雅加達"%}
                ['Indonesia',{{rainfall.rainfall}}],
            {% elif rainfall.country == "吉隆坡"%}
                ['Malaysia',{{rainfall.rainfall}}],
            {% elif rainfall.country == "利雅德"%}
                ['Saudi Arabia',{{rainfall.rainfall}}],
            {% elif rainfall.country == "新加坡"%}
                ['Singapore',{{rainfall.rainfall}}],
            {% endif %} 
          {% endfor %}
          
        ]);
		

        var options = {
		sizeAxis: { minValue: 0, maxValue: 100 },
		//region: '155', // Western Europe
		//region: 'world ',// Asia
		region: '142',//TW#70edef
        backgroundColor:'#6ea7ef'
	
		};
		
		options['colors'] = ['#f3c9c4', '#f5afa5', '#f39283', '#f36e59']; //orange colors
		options['dataMode'] = 'markers';
        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}