{% extends "manbase.html" %}
{% block test2 %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.side-bar {
    padding: 16px 0;
    width: 150px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 12px;
    box-sizing: border-box;
    border: 1px solid #e9eaec;
}   
.f-left {
    float: left;
}
main, nav {
    display: block;
}

.nav-item-ctnr[data-v-4068fe3b] {
    position: relative;
}
.no-select, .none-select {
    user-select: none;
}
.pointer {
    cursor: pointer;
}
.nav-item-ctnr.expanded .nav-item[data-v-4068fe3b] {
    color: #23ade5;
    border-bottom: 1px solid #e3e8ec;
}
.nav-item[data-v-4068fe3b] {
    height: 56px;
    padding-left: 34px;
    line-height: 56px;
    color: #333;
    font-size: 14px;
}
.ts-dot-2 {
    transition: all cubic-bezier(0.22, 0.58, 0.12, 0.98) 0.2s;
}
.p-relative {
    position: relative;
}
.nav-item-ctnr.expanded .sub-pages-item-ctnr[data-v-4068fe3b] {
    border-bottom: 1px solid #e3e8ec;
}
.over-hidden {
    overflow: hidden;
}
.sub-pages-item[data-v-4068fe3b] {
    font-size: 16px;
    height: 40px;
    padding-left: 37px;
    line-height: 40px;
}

</style>
<div style="padding-left:350px;padding-top:50px;">
 <nav class="side-bar f-left">
<div data-v-4068fe3b="" class="nav-item-ctnr pointer none-select expanded"><!---->
<div data-v-4068fe3b="" class="nav-item b-box p-relative ts-dot-2 expanded">
<i data-v-4068fe3b="" class="svg-icon size-24 menu-personal-hover"></i>
<div data-v-4068fe3b="" class="link-ctnr dp-i-block" style="font-size:20px;">
<span data-v-4068fe3b="">管理中心</span><!---->
</div>
<i data-v-4068fe3b="" class="expand-icon dp-i-block p-absolute ts-dot-2">
</i>
</div>
<div data-v-4068fe3b="" class="sub-pages-item-ctnr ts-dot-2 over-hidden" style="height: 360px;">
<div data-v-4068fe3b="" class="sub-pages-item b-box ts-dot-2">
<span> <a href="{% url 'ManagerPassword' %}">修改密碼</a>
</span><!----><!----><!---->
</div>
<div data-v-4068fe3b="" class="sub-pages-item b-box ts-dot-2">
<span> <a href="{% url 'ManagerPost' %}">管理留言</a></span>
<!----><!----><!---->
</div>
<div data-v-4068fe3b="" class="sub-pages-item b-box ts-dot-2">
<span> <a href="{% url 'Msanagerreport' %}">問題回報</a></span>
<!----><!----><!---->
</div>


</nav>

<div style="padding-left:200px ;padding-right:400px;">
    <div style="background:white;border-radius: 12px;white:220px;height:800px;overflow:auto;padding-left:20px;padding-right:20px;">
    <form class="bs-example bs-example-form" role="form" action="/manager/passwordsearch" method="post">{% csrf_token %}

<div class="input-group mb-3" style="padding-top:50px;">
  <input type="text" class="form-control" placeholder="搜尋使用者帳號" aria-label="搜尋使用者" aria-describedby="button-addon2" name="username">
  <div class="input-group-append" style="">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">搜尋</button>
  </div>
</div>

	</form>

    <table width="880" border="1" class="border" style="background:#ecf2f5; border-top-left-radius: 10px;font-family: PingFangTC-Regular, sans-serif;">
　  <tr>
　      <td style="font-size:20px;">帳號</td>
　      <td style="font-size:20px">密碼</td>
        <td style="font-size:20px">動作</td>
　  </tr>

    {% for data in data %}
　  <tr>
　      <td>{{data.name}}</td>
　      <td>{{data.password}}</td>
    <td>
        <form action="" name="myFrm" method="post">{% csrf_token %}
        <input type="button" value="修改" onclick="edit({{data.id}})" class="btn btn-outline-primary"/>
        <input type="hidden" value="{{data.name}}" name="username" >
        <!--<input type="button" value="delete" onclick="delete()"/>-->
        </form>
    </td>			
				
　  </tr>
    {% endfor %}
    	
</table>
</div>
</div>
</div>        
<!--<form action="" name="pay" method="post">{% csrf_token %}
    
    <input type="button" value="edit" onclick="edit()"/>
    <input type="button" value="delete" onclick="delete()"/>
						
</form>-->


<script>
function edit(num){
    
    document.myFrm[num-1].action="/manager/edit"; 
    document.myFrm[num-1].submit(); 
}
</script>


{% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}
{% endblock %}

