{% extends "base.html" %}
{% block test %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.side-bar {
    padding: 16px 0;
    width: 150px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 12px;
    box-sizing: border-box;
    border: 1px solid #e9eaec;
}   
.f-left {
    float: left;
}
main, nav {
    display: block;
}

.nav-item-ctnr[data-v-4068fe3b] {
    position: relative;
}
.no-select, .none-select {
    user-select: none;
}
.pointer {
    cursor: pointer;
}
.nav-item-ctnr.expanded .nav-item[data-v-4068fe3b] {
    color: #23ade5;
    border-bottom: 1px solid #e3e8ec;
}
.nav-item[data-v-4068fe3b] {
    height: 56px;
    padding-left: 34px;
    line-height: 56px;
    color: #333;
    font-size: 14px;
}
.ts-dot-2 {
    transition: all cubic-bezier(0.22, 0.58, 0.12, 0.98) 0.2s;
}
.p-relative {
    position: relative;
}
.nav-item-ctnr.expanded .sub-pages-item-ctnr[data-v-4068fe3b] {
    border-bottom: 1px solid #e3e8ec;
}
.over-hidden {
    overflow: hidden;
}
.sub-pages-item[data-v-4068fe3b] {
    font-size: 16px;
    height: 40px;
    padding-left: 37px;
    line-height: 40px;
}

</style>

<div style="padding-left:350px;padding-top:50px;">
 <nav class="side-bar f-left">
<div data-v-4068fe3b="" class="nav-item-ctnr pointer none-select expanded"><!---->
<div data-v-4068fe3b="" class="nav-item b-box p-relative ts-dot-2 expanded">
<i data-v-4068fe3b="" class="svg-icon size-24 menu-personal-hover"></i>
<div data-v-4068fe3b="" class="link-ctnr dp-i-block" style="font-size:20px;">
<span data-v-4068fe3b="">會員中心</span><!---->
</div>
<i data-v-4068fe3b="" class="expand-icon dp-i-block p-absolute ts-dot-2">
</i>
</div>
<div data-v-4068fe3b="" class="sub-pages-item-ctnr ts-dot-2 over-hidden" style="height: 360px;">
<div data-v-4068fe3b="" class="sub-pages-item b-box ts-dot-2">
<span> <a href="{% url 'Memberspace' %}">修改密碼</a></span>
</div>
<div data-v-4068fe3b="" class="sub-pages-item b-box ts-dot-2">
<span> <a href="{% url 'Memberpost' %}">歷史貼文</a></span>
</div>
<div data-v-4068fe3b="" class="sub-pages-item b-box ts-dot-2">
<span> <a href="{% url 'Memberreport' %}">問題回報</a></span>
</div>
</nav>
<div style="padding-left:200px ;padding-right:550px">
    <div style="background:white;border-radius: 12px;white:220px;height:780px;overflow:auto;padding-left:20px;padding-top:20px;padding-left:20px;padding-right:20px">
    <div style="color:#23ade5 ;font-size:24px;border-bottom: 1px solid #e3e8ec;">歷史貼文</div></br>
    <table width="750" border="1"  class="border" style="background:#ecf2f5;">
　  <tr>
　      
        <td style="font-size:20px">首都</td>
        <td style="font-size:20px">年</td>
        <td style="font-size:20px">月份</td>
　      <td style="font-size:20px">留言</td>
        <td style="font-size:20px">動作</td>
　  </tr>
    

    
    {% for post in post %}
　  <tr>
　      
　      <td>{{post.rainfall.country}}</td>
　      <td>{{post.rainfall.year}}</td>
        <td>{{post.rainfall.month}}</td>
　      <td>{{post.post}}</td>
    <td>
        <form action="" name="delForm" method="post">{% csrf_token %}
        <!--post.id改get post表size -->
        <input type="button" value="修改" onclick="editpost({{forloop.counter}})" class="btn btn-outline-primary"/>
        <!--<input type="button" value="刪除" onclick="delete2({{forloop.counter}})" class="btn btn-outline-danger"/>-->
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#c{{forloop.counter}}">
        刪除
        </button>
        
        <input type="hidden" value="{{post.id}}" name="postid" >
        <!--<input type="button" value="delete" onclick="delete()"/>-->
        <div class="modal fade" id="c{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">刪除貼文</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               刪除貼文
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
               <button type="button" class="btn btn-outline-danger" onclick="delete2({{forloop.counter}})">確認刪除</button>
             </div>
           </div>
         </div>
        </div>
        </form>
    </td>			
				
　  </tr>


{% endfor %}
    </div>
</div>
<script>
function delete2(num){
    
    document.delForm[num-1].action="/memberpostdel/"; 
    document.delForm[num-1].submit(); 
}
function editpost(num){
    
    document.delForm[num-1].action="/memberposteditpage/"; 
    document.delForm[num-1].submit(); 
}
</script>

{% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}
{% endblock %}