<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3個meta標籤*必須*放在最前面，任何其他內容都*必須*跟隨其後！ -->
    <title>註冊</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是為了讓 IE8 支援 HTML5 元素和媒體查詢（media queries）功能 -->
    <!-- 警告：通過 file:// 協議（就是直接將 html 頁面拖拽到瀏覽器中）訪問頁面時 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        function get_insert_response() {
            var inser_re;
            if(window.XMLHttpRequest){
                inser_re=new XMLHttpRequest();
            }
            else{
                inser_re=new ActiveXObject("Microsoft.XMLHTTP");
            }
            inser_re.onreadystatechange=function () {
                if(inser_re.readyState==4 && inser_re.status==200){
                    window.alert(inser_re.responseText);
                }
            }

        }
    </script>

</head>

{% extends "base.html" %}

<body>
{% block test %}
 <div class="content-bottom">
 <div class="content-w3ls">
 <div class="text-center icon">
 <span class="" style="color:white;font-size:26px;">註冊</span>
				<form action="" method="" name="commit">{% csrf_token %}
					<div class="field-group">
						<span class="fa fa-user" style="font-size:54px" aria-hidden="true" ></span>
						<div class="wthree-field">
							<input type="text" placeholder="Username(5~10英文數字)" name="username" id ="username" required autocomplete="off"><!-- autocomplete="off" 取消自動帶出的輸入記錄-->
						</div>
					</div>
					<div class="field-group">
						<span class="fa fa-lock" style="font-size:56px" aria-hidden="true"></span>
						<div class="wthree-field">
							<input type="password" id="password" placeholder="Password(5~15英文數字)" name="password">
						</div>
					</div>
                    <div class="field-group">
						<span class="fa fa-lock" style="font-size:56px" aria-hidden="true"></span>
						<div class="wthree-field">
							<input type="password" id="checkpassword" placeholder="CheckPassword" name="password">
						</div>
					</div>

					<div class="wthree-field">
						<button type="submit" class="btn" name="login_btn" value="Submit" onclick="dosub()">註冊</button>
					</div>
					
				</form>
                </div>
			</div>
            </div>
<script type="text/javascript">
 function dosub(){
    var s = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    var checkpassword = document.getElementById("checkpassword").value;
    var i = /[0-9]+/;
    var str = /[A-Za-z]/;
    var reg = /[~#^$@%&!?%*]/gi;
    var check=1;
    if(!str.test(s)){
     alert("帳號必須包含英文字母");
    check=0;
  }

  else if(!i.test(s)){
    alert("帳號必須包含數字");
     check=0;

  }

    else if(reg.test(s.trim())){
    alert("不能包含特殊字元");
    check=0;
  }

  else if(s.length<5 || s.length>10){
    alert("帳號長度需介於5~10字");
     check=0;
  }
  else if(password.length<5 || password.length>15){
    alert("密碼長度需介於5~10字");
    check=0;
  }
  else if( password != checkpassword){
    alert("確認密碼是否相同");
    check=0;
  }
  else{

  }
  if(check==1){
        document.commit.method="post";
        document.commit.action = "/signup/"; 
        document.commit.submit(); 
  }
            

  
 
 }
</script>


    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}

{% endblock %}

</body>
</html>